* {
	color: #ffffff;
}

body {
	background-color: #121213;
}

.game-container {
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.key-container {
	width: 510px;
	display: flex;
	flex-wrap: wrap;
}

.key-container button {
	width: 43px;
	height: 58px;
	border-radius: 4px;
	margin: 4px;
}

.key-container button:nth-child(11) {
	margin-left: 30px;
}

.key-container button:nth-child(20),
.key-container button:nth-child(28) {
	width: 68px;
}

.tile-container {
	width: 330px;
}

.tile-container div {
	display: flex;
}

.tile-container .tile {
	width: 62px;
	height: 62px;
	border: 2px solid#3a3a3c;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2px;
}
